#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-layout {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.section + .section {
  margin-top: 2rem;
}

.tools-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.state-import__input {
  display: none;
}

.github-link {
  display: inline-block;
  margin-left: 5rem;
}

.github-link__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.break-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8rem;
}
