#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-layout {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.section + .section {
  margin-top: 2rem;
}

.state-btn {
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #db8f47;
  border-radius: 8px;
  border: 0;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  transition: background-color 0.25s;
}

.state-btn:hover, .state-btn:active {
  background-color: #a16730;
}

.state-btn + .state-btn {
  margin-left: 0.5rem;
}

.state-import__input {
  display: none;
}

.github-link {
  display: inline-block;
  margin-left: 5rem;
}

.github-link__icon {
  width: 2.5rem;
  height: 2.5rem;
}
