
.break-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.break-container--success {
  color: green;
}

.break-container--warn {
  color: orange;
}

.break-container--danger {
  color: red;
}

.break-btn {
  composes: edit-btn from "../../../styles/btn";
}
